
* {margin: 0; padding: 0; border: 0}



#wrapper
{
	background-color: white;
}



header
{

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: red;
	
}

.nav
{
	padding: 2%;
}

body
{

	background-color: blue;
	
	

}

#contenu
{
	background-color: green;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}


.logoGBarre
{
	
	height: 60%;

}

.souslogo
{

}


footer
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: yellow;

}



